.blogCard{
    background-color: var(--color-l-bg);
    margin: .3rem;
    border-radius: .2rem;
    height: auto;
    padding-bottom: 1rem;
}
.blogCard__writer{
    height: 2.5rem;
    background-color: var(--color-l-bg-variant);
    display: flex;
    align-items: center;
    border-radius: .2rem .2rem 0rem 0rem;
}
.blogCard__writer>img{
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 100%;
}
.blogCard__writer>div{
    margin: .5rem;
}
.blogCard__writer>div>p{
    font-size: .8rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    font-weight: 450;

}
.blogCard__writer>div>small{
    font-size: .5rem;
    margin-top: 0rem;
    padding-top: 0rem;
    display: block;
    position: relative;
}
.blogCard__writer>small{
    margin-left: 70%;
    color: blue;
}
.blogCard__writer>small:hover{
    cursor: pointer;
}
.blogCard__post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogCard__post>h1{
    font-size: 1rem;
    margin: .3rem;
    padding: .3rem;
    font-weight: 450;
}
.blogCard__post>p{
    font-size: .85rem;
    width: 98%;
    text-align: justify;
    margin: .3rem;
    padding: .3rem;
}
.blogCard__post>img{
    height: auto;
    width: 98%;
    margin: .3rem;
    padding: .3rem;
}
.blogCard__conclusion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-l-bg-variant);
    border-radius: 2rem;
    margin: .3rem;
    margin-left: 5%;
    margin-right: 5%;
}
.blogCard__conclusion div{
    margin: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.blogCard__comments{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    height: 15rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color-light);
}
.blogCard__comments--hide{
    display: none;
}
.blogCard__comments__allComments{
    height: 85%;
    overflow: scroll;
    
}
.blogCard__comments__writeComment{
    height: 15%;
    text-align: center;
}
.blogCard__comments__writeComment--text{
    height: 1.4rem;
    padding: 1rem;
    width: 70%;
    border-radius: 1rem;
}