.comments__writter{
    background-color: var(--color-l-bg-variant);
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
}
.comments__writter>img{
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 100%;
}
.comments__writter>div{
    margin: .5rem;
}
.comments__writter>div>h1{
    font-size: .5rem;
    padding: .1rem;
}
.comments__writter>div>small{
    font-size: .4rem;
    position: relative;
    top: 0;
    display: block;
    padding: .05rem;
}
.comments__writter>p{
    font-size: .6rem;
    margin-left: 50%;
    color: blue;
}
.comments__details>small{
    padding: .5rem;
    margin: .5rem;
    font-size: .5rem;
}