.blogs{
    display: flex;
    padding-top: 5rem;
    height: 110vh;
    width: 100%;
    justify-content: center;
    
}
#blogs__conatiner{
    width: 90%;
    background-color: var(--color-l-bg-variant);
    display: flex;
    justify-content: center;
}
.blogs__allblog{
    width: 70%;
}
.blogs__topWriters{
    width: 30%;
}