.blogs{
    display: flex;
    padding-top: 5rem;
    height: auto;
    width: 100%;
    justify-content: center;
    
    
}
#blogs__conatiner{
    width: 90%;
    height: auto;
    background-color: var(--color-l-bg);
    display: flex;
    justify-content: center;
}
.blogs__allblog{
    width: 70%;
    height: 120vh;
    background-color: var(--color-primary);
    overflow: scroll;
}
.blogs__topWriters{
    width: 30%;
    height: 100%;
}